## Iris Species
#### Classify iris plants into three species in this classic dataset
Source: https://www.kaggle.com/uciml/iris

It includes three iris species with 50 samples each as well as some properties about each flower. One flower species is linearly separable from the other two, but the other two are not linearly separable from each other.

The columns in this dataset are:  

- Id
- SepalLengthCm
- SepalWidthCm
- PetalLengthCm
- PetalWidthCm
- Species

Question: Build various Classification model (K-Nearest Neighbors, Naive bayes) using Iris dataset and compare their accuracy score. You can download dataset directly from Kaggle or load from sklearn library.  

Hint: Loading from sklearm library and save into a pandas dataframe  

from sklearn.datasets import load_iris  
import pandas as pd  
iris  = load_iris()  
df = pd.DataFrame(iris.data)

In [27]:
from sklearn.datasets import load_iris
import pandas as pd
iris  = load_iris()
df = pd.DataFrame(iris.data)

In [2]:
df.head(10)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2
5  5.4  3.9  1.7  0.4
6  4.6  3.4  1.4  0.3
7  5.0  3.4  1.5  0.2
8  4.4  2.9  1.4  0.2
9  4.9  3.1  1.5  0.1

In [28]:
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [29]:
df.columns = iris.feature_names
df.head(5)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [30]:
df['Iris_Species'] = iris.target
df.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Iris_Species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [31]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Iris_Species
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [32]:
df.isnull().values.any()

False

In [33]:
df.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Iris_Species
sepal length (cm),1.000000,-0.117570,0.871754,0.817941,0.782561
sepal width (cm),-0.117570,1.000000,-0.428440,-0.366126,-0.426658
petal length (cm),0.871754,-0.428440,1.000000,0.962865,0.949035
petal width (cm),0.817941,-0.366126,0.962865,1.000000,0.956547
Iris_Species,0.782561,-0.426658,0.949035,0.956547,1.000000

In [34]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 0)

In [36]:
# Feature Scaling(Standardization)
#from sklearn.preprocessing import StandardScaler
#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

# Fitting K-NN to the Training set
from sklearn.neighbors import KNeighborsClassifier
kneigh_c = KNeighborsClassifier(n_neighbors = 5)
kneigh_c.fit(X_train, y_train)

# Predicting the results on Test set
y_pred_kneigh = kneigh_c.predict(X_test)

# Creating the Confusion Matrix
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred_kneigh))

0.98

In [37]:
#Save the model in pickle file
import joblib  
joblib.dump(kneigh_c, "iris-trained-model.pkl")

['iris-trained-model.pkl']

In [23]:
from sklearn.linear_model import LogisticRegression
lr_c = LogisticRegression(random_state = 0, solver='lbfgs') 
lr_c.fit(X_train, y_train)

# Predicting the results on Test set
y_pred_lr = lr_c.predict(X_test)

# Creating the Confusion Matrix
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred_lr))

0.94

In [25]:
from sklearn.naive_bayes import GaussianNB

# create Gaussian Naive Bayes model object and train it with the data
nb_model = GaussianNB()

nb_model.fit(X_train, y_train)
# Predicting the results on Test set
y_pred_nb = nb_model.predict(X_test)

# Creating the Confusion Matrix
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred_nb))

0.96